body {
    font-family: "Manrope", sans-serif;
    background-color: #1c2225;
    color: #fcf9f9;
}

/* #region Base styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.container {
    margin: 0 auto;
    width: 1280px;
    /* outline для наглядності, не забудьте видалити перед здачею ДЗ*/
    outline: 1px solid red;
    padding-left: 50px;
        padding-right: 50px;
}

/* #endregion */

/* #region Header */
header .container {
    display: flex;
    align-items: center;
}

.hero-section .container {
    padding-left: 50px;
    padding-right: 50px;
}

.logo {
    margin-right: 60px;
}

.logo-svg {}

.nav {}

.nav-list {
    display: flex;
    gap: 25px;
}

.nav-item {}

.nav-link {
    display: block;
    padding-top: 27px;
    padding-bottom: 27px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    text-transform: uppercase;
    transition: color 0.3s ease-in;
}

.nav-link:hover,
.nav-link:focus {
    color: #ecd979;
}

.address {
    margin-left: auto;
    margin-right: 20px;
}

.phone {
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 14px 28px;
    transition: border-color 0.3s ease-in;
}

.phone:hover,
.phone:focus {
    border: 1px solid #ecd979;
}

.soc-list {
    display: flex;
    gap: 12px;
}

.soc-icon {
    fill: #fcf9f9;
}

.soc-item {}

.soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    background-color: rgba(252, 249, 249, 0.1);
    padding: 8px;
    width: 44px;
    height: 44px;
    transition: border-color 0.3s ease-in, background-color 0.3s ease-in;
}

.soc-link:hover,
.soc-link:focus {
    border: 1px solid #ecd979;
    background-color: transparent;
}

/* #endregion */

/* #region Hero */

.hero-section {
    padding-top: 100px;
    padding-bottom: 150px;
}

.hero-section .container {
    display: flex;
}

.hero-image {
    margin-right: 40px;
    border-radius: 4px;
    width: 392px;
    height: 545px;
}

.title-btn-wrapper {
    display: flex;
    flex-direction: column;
}

.hero-title {
    font-weight: 400;
    font-size: 54px;
    line-height: 1.19;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
    width: 518px;
    padding-top: 94px;
}

.hero-title-accent {
    color: #ecd979;
}

.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 14px 39px;
    width: 168px;
    height: 50px;
    margin-left: 181px;
    transition: border-color 0.3s ease-in;
}

.hero-btn:hover,
.hero-btn:focus {
    border: 1px solid #ecd979;
}

.arrow-icon {
    fill: #ecd979;
}

.hero-star-warepper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 115px;
    margin-left: auto;
    padding-top: 14px;
}

.hero-star {}

.hero-star-subtitle {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.04em;
    text-align: center;
    color: rgba(252, 249, 249, 0.4);
}

/* #endregion */

.about-section {
    padding-bottom: 70px;
}

.about-container {
    display: flex;
    gap: 60px;
    padding-bottom: 80px;
    overflow: hidden;
}

.about-svg {
    position: absolute;
    width: 545px;
        height: 484px;
    top: 141px;
    left: 259px;
    z-index: 888;
    overflow: hidden;
    fill:#FCF9F9;
    fill-opacity: 0.1;
}

.about-title {
    font-weight: 500;
        font-size: 44px;
        line-height: 1.45455;
        letter-spacing: -0.03em;
        margin-bottom: 20px;
}

.about-text-1 {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.04em;
    color: rgba(252, 249, 249, 0.4);
    width: 536px;
}

.about-text-2 {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.04em;
    color: rgba(252, 249, 249, 0.4);
    width: 536px;
}

.about-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block: 78.5px;
}

.about-img {
    border-radius: 4px;
    width: 594px;
    z-index: 999;
}

.about-img-wrapper {
    position: relative;
}

.collection-section {
    padding-bottom: 75px;
}

.collection-container {
    overflow: hidden;
}

.coll-title {
    font-weight: 500;
    font-size: 44px;
    line-height: 1.45455;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
    text-align: center;
}

.coll-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.coll-item {
    flex-basis: calc((100% - 40px) / 3);
    position: relative;
}

.coll-item-svg {
    position: absolute;
    top: 114px;
    right: 262px;
    fill: #ecd979;
    z-index: 888;
}

.coll-item-img {
    margin-bottom: 18px;
    position: relative;
    z-index: 999;
}

.coll-item-title {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.coll-item-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.05em;
    color: rgba(252, 249, 249, 0.4);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.our-client-container {
    margin-block: 75px;
    padding-inline: 0;
}

.our-img {
    width: 1282px;
        height: 776px;
}

.order-section {
    padding-block: 75px;
}

.order-container {
    display: flex;
    gap: 50px;
    position: relative;
    overflow: hidden;
}

.order-img {
    border-radius: 4px;
        width: 588px;
        height: 521px;
        z-index: 999;
}

.order-svg {
    position: absolute;
        top: 156px;
        left: -255px;
        z-index: 888;
        fill: #FCF9F9;
        fill-opacity: 0.1;
}

.order-form-wrapper {
    display: flex;
    flex-direction: column;
}

.order-title {
    margin-bottom: 40px;
    font-weight: 500;
        font-size: 44px;
        line-height: 1.31818;
        letter-spacing: -0.03em;
}

.order-title-accent {
    color: #ecd979;
}

.order-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-label {}

.order-input {
    border: 1px solid rgba(252, 249, 249, 0.1);
        border-radius: 8px;
        padding: 14px 16px;
        width: 508px;
        background-color: transparent;
        transition: border-color 0.3s ease-in, color 0.3s ease-in;

}

.order-input:focus,
.order-input:hover {
    border: 1px solid #ecd979;
    color: #FFFFFF;
    outline: none;
}


.order-input::placeholder {
    font-weight: 400;
        font-size: 16px;
        letter-spacing: -0.02em;
        color: rgba(252, 249, 249, 0.5);
}

.comment-input {
    resize: none;
    width: 508px;
    height: 196px;
}

.order-btn {
    border: 1px solid rgba(252, 249, 249, 0.1);
        border-radius: 15px;
        padding: 14px 39px;
        width: 168px;
        height: 50px;
        background-color: transparent;
        font-weight: 600;
            font-size: 16px;
            letter-spacing: -0.04em;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-top: 40px;
            transition: border-color 0.3s ease-in;
}

.order-btn:hover,
.order-btn:focus {
    border: 1px solid #ecd979;
}

.test-section {
    padding-block: 75px;
}

.testimonials-container {}

.test-title {
    font-weight: 500;
        font-size: 44px;
        line-height: 1.45455;
        letter-spacing: -0.03em;
        margin-bottom: 40px;
}

.test-list {
    display: flex;
    gap: 20px;
}

.test-item {
    flex-basis: calc((100% - 40px) / 3);
    padding: 54px 18px 18px;
    border: 1px solid rgba(252, 249, 249, 0.1);
        border-radius: 4px;
        padding: 54px 18px 18px;
        position: relative;
}

.test-item-img {
    margin: 0 auto;
    position: absolute;
    top: -27px;
    left: 50%;
    transform: translateX(-50%);

}

.test-item-subtitle {
    font-weight: 600;
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        position: relative;
        padding-bottom: 8px;
}

.test-item-text {
    font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: rgba(252, 249, 249, 0.4);
}

.footer-container {
    overflow: hidden;
}

.footer-spacer {
    height: 60px;
        border-bottom: 1px solid rgba(252, 249, 249, 0.1);
        margin-left: -50px;
        margin-right: -50px;
}

.footer-section {
    margin-top: 75px;
}

.foter-nav {
    margin-bottom: 117px;
    padding-top: 40px;
}

.footer-nav-list {
    display: flex;
    gap: 20px;
}

.footer-nav-item {}

.footer-nav-link {
    font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        transition: color 0.3s ease-in;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
    color: #ecd979;
}

.footer-text {
    font-weight: 400;
        font-size: 64px;
        line-height: 1.15625;
        letter-spacing: -0.03em;
        width: 754px;
        padding-bottom: 40px;
        position: relative;
}

.footer-text-accent {
    color: #ecd979;
}

.footer-svg {
    fill: #ecd979;
    position: absolute;
    top: 0;
    transform: translateY(-44%);
    left: 894px;
}